br {
    clear: both;
}

.vscmm-center {
    text-align: center;
}

.vscmm-right {
    float: right;
}

.vscmm-left {
    float: left;
}

.vscmm-pad-left-1em {
    padding-left: 1em;
}

.vscmm-map-tools {
    display: inline-block;
    position: relative;
    top: -30px;
    right: 160px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: larger;
}

.dialog-header, .dialog-footer {
    background-color: #f5f5f5;
}

.dialog-header {
    padding:9px 15px;
    border-bottom:1px solid gray; /* #eee; */
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;        
}

.dialog-footer {
    padding:9px 15px;
    border-top:1px solid gray; /* #eee; */
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;      
}

.dialog-box {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;     
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
}

.vscmm-tight {
    margin: 0;
    padding: 0 .5em 0 .5em;
}

@media screen and (min-width: 768px) {
    .modal-wide .modal-dialog {
        width: 90%; /* either % (e.g. 60%) or px (400px) */
    }
}

.vscmm-btn-settings {
    width: 5em;
}

#vscmmDesktopContainer {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}

#vscmmDesktopContainer > .container-controls {
    float: left;
    width: 300px;
    background-color: white;
    margin: 0;
    padding: .5em;
}

#vscmmMobileContainer {
    float: left;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}

#vscmmMobileContainer > .container-controls {
    float: left;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#vscmmMapContainer {
    float: left;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

#vscmmMap {
    width: 100%;
    height: 100%;
}

#vscmmMapContainerMobile {
    float: left;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

#vscmmQuakeListMobileContainer {
    float: left;
    border: 1px solid black;
}

#vscmmMapMobile {
    width: 100%;
    height: 100%;
}

.vscmm-mobile-btn {
    margin: 0 0 4px 0;
    padding: 4px;
    width: 28px;
}

.vscmm-image-container {
    float: left;
    margin: .25em;
}

/* HTML Quake Table */

.vscmm-quake-table {
    margin: 0 0 0 0;
}

.vscmm-quake-table .active {
    font-weight: bold;
    color: navy;
}
.vscmm-quake-table .active a {
    font-weight: bold;
    color: navy;
}

.vscmm-quake-table-container {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.vscmm-data-row {
    max-height: 12px !important;
}

.vscmm-large-mag {
    font-weight: bold !important;
    font-size: larger;
}

.vscmm-date-string {
    font-size: smaller;
    width:12em;
}
.vscmm-mag {
    font-size: smaller;
    width:5em;
}
.vscmm-depth-string {
    font-size: smaller;
    width:9em;
}
/* End - HTML Quake Table */

.vscmm-hover {
    background: #fff;
    margin: 0;
    padding: .5em 0 .5em 0;
}

.vscmm-hover:hover {
    background: #f5f5f5;
}

/* Quake Filter Buttons */
.vscmm-btn-quake {
    width: 8em;
    margin: 4px;
}

.vscmm-btn-quake > .badge {
    display: inline-block;
    float: right;
}
/* End - Quake filter buttons */

.vscmm-btn-plot {
    with: 15em;
    margin: 4px;
} 

/* Instrument buttons */
.vscmm-btn-category {
    width: 14em;
    margin: 4px;
}

.vscmm-btn-category > .badge {
    display: inline-block;
    float: right;
}

.vscmm-btn-inst-sh {
    width: 6em;
    margin: 4px;
}

.vscmm-time-units, .vscmm-depth-units {
    color: blue !important;
    font-weight: bold;
}

/* Legend */
#vscmmLegend {
    border: solid 1px black;
    display: none;
    background-color: white;
    z-index: 2;
}

#vscmmLegendShowButton {
    display: none;
}

/* Loading box... */
#vscmmLoading {
    border: solid 1px black;
    background-color: white;
    position: fixed;
    top: 10px;
    left: 60px;
    min-width: 15em;
    z-index: 999;
}