<h4 id="vscmmMonitoringTitle">Earthquakes</h4>
<div id="vscmmDesktopContainer" class="container">

    <div id="vscmmMapContainer" class="container-main" data-dojo-type="dijit/layout/BorderContainer" 
         data-dojo-props="design:'headline', gutters:false">

        <div id="vscmmMap" 
             data-dojo-type="dijit/layout/ContentPane" 
             data-dojo-props="region:'center'" 
             style="padding:0;">

            <div style="position:absolute; right:20px; top:10px; z-index:2;">
                <div data-dojo-type="dijit/TitlePane" 
                     data-dojo-props="title:'Switch Basemap', closable:false, open:false">
                    <div data-dojo-type="dijit/layout/ContentPane" style="width:380px; height:280px; overflow:auto;">
                        <div id="vscmmBasemapGallery"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-controls">

        <div class="vscmm-center">
            <b><a href="https://earthquake.usgs.gov/ens/" target="ehptab">Earthquake Notifications</a> |
                <a href="https://earthquake.usgs.gov/data/dyfi/" target="ehptab">Did You Feel It?</a></b>
        </div>
        <div class="panel-group" id="vscmmAccordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vscmmQuakeTable"
                     onclick="monUtils.bsAcdnHeaderClicked(this);" data-parent="#vscmmAccordion" 
                     data-collapse-id="#vscmmQuakeTableCollapse">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#vscmmAccordion" 
                           href="#vscmmQuakeTableCollapse" aria-expanded="true" aria-controls="vscmmQuakeTableCollapse">
                            Visible Earthquakes
                        </a>&nbsp;&nbsp;
                        <button class="btn btn-primary btn-xs" title="Refresh quake data."
                                onclick="monQuakeData.updateQuakeData();">
                            <span class="glyphicon glyphicon-refresh"></span></button>
                        <span class="glyphicon glyphicon-chevron-down vscmm-right"></span>
                    </h4>
                </div>
                <div id="vscmmQuakeTableCollapse" class="panel-collapse collapse in" role="tabpanel" 
                     aria-labelledby="vscmmQuakeTable">
                    <div class="panel-body">
                        <span id="vscmmDesktopVisible_SPAN"></span>
                        <table class="table table-condensed vscmm-quake-table">
                            <thead>
                                <tr>
                                    <th class="vscmm-date-string">
                                        Date/Time 
                                        <a href="javascript:monUI.toggleTimeUnits();" 
                                           title="Click to change between UTC or my local time" 
                                           class="vscmm-time-units"></a>
                                        <a href="javascript:monQuakeList.sortClicked('unixTime');" 
                                           title="Click to order by date, click again to reverse order.">
                                            <span class="glyphicon glyphicon-sort text text-primary"></span></a>
                                    </th>
                                    <th class="vscmm-mag">
                                        Mag.
                                        <a href="javascript:monQuakeList.sortClicked('mag');" 
                                           title="Click to order by magnitude, click again to reverse order.">
                                            <span class="glyphicon glyphicon-sort text text-primary"></span></a>
                                    </th>
                                    <th class="vscmm-depth-string">
                                        Depth <a href="javascript:monUI.toggleDepthUnits();" 
                                                 title="Click to change between KM and Miles" 
                                                 class="vscmm-depth-units"></a> 
                                        <a href="javascript:monQuakeList.sortClicked('depthKM');" 
                                           title="Click to order by depth, click again to reverse order.">
                                            <span class="glyphicon glyphicon-sort text text-primary"></span></a>

                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <div class="vscmm-quake-table-container">
                            <table class="table table-condensed vscmm-quake-table">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vscmmQuakeFilter"
                     onclick="monUtils.bsAcdnHeaderClicked(this);" data-parent="#vscmmAccordion" 
                     data-collapse-id="#vscmmQuakeFilterCollapse">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vscmmAccordion" 
                           href="#vscmmQuakeFilterCollapse" aria-expanded="false" 
                           aria-controls="vscmmQuakeFilterCollapse">
                            Filter Earthquakes
                        </a>
                        <span class="glyphicon glyphicon-chevron-down vscmm-right"></span>
                    </h4>
                </div>
                <div id="vscmmQuakeFilterCollapse" class="panel-collapse collapse" role="tabpanel" 
                     aria-labelledby="vscmmQuakeFilter">
                    <div class="panel-body">

                        <div class="width9em vscmm-left">
                            <button class="btn btn-default btn-primary vscmm-btn-quake vscmm-btn-quake-show" 
                                    onclick="monQuakeUI.showAll();">
                                Show All</button>
                        </div>
                        <div class="width9em vscmm-right">
                            <button class="btn btn-default btn-primary vscmm-btn-quake vscmm-btn-quake-hide" 
                                    onclick="monQuakeUI.hideAll()">
                                Hide All</button>
                        </div>
                        <br/>
                        <div class="width9em vscmm-left">

                            <b>Age</b><br/>
                            <button class="btn btn-default btn-age vscmm-btn-quake" data-age="last20" 
                                    onclick="monQuakeUI.setAge('last20')">
                                <b id="vscmmLast20Label">Last 20</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-age vscmm-btn-quake" data-age="day" 
                                    onclick="monQuakeUI.setAge('day')">
                                <b>Day</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-age vscmm-btn-quake" data-age="week" 
                                    onclick="monQuakeUI.setAge('week')">
                                <b>Week</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-age vscmm-btn-quake" data-age="any" 
                                    onclick="monQuakeUI.setAge('any')">
                                <b>Month</b> <span class="badge"></span>
                            </button>
                            <br/><br/>
                            <b>Magnitude</b><br/>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="0" 
                                    onclick="monQuakeUI.toggleMag(0)">
                                <b>&lt; 1</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="1" 
                                    onclick="monQuakeUI.toggleMag(1)">
                                <b>1 - 2</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="2" 
                                    onclick="monQuakeUI.toggleMag(2)">
                                <b>2 - 3</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="3" 
                                    onclick="monQuakeUI.toggleMag(3)">
                                <b>3 - 4</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="4" 
                                    onclick="monQuakeUI.toggleMag(4)">
                                <b>4 - 5</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="5" 
                                    onclick="monQuakeUI.toggleMag(5)">
                                <b>5 - 6</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-mag vscmm-btn-quake" data-mag="6" 
                                    onclick="monQuakeUI.toggleMag(6)">
                                <b>6+</b> <span class="badge"></span>
                            </button>
                        </div>
                        <div class="width9em vscmmModal">
                            <b>Depth km</b><br/>
                            <button class="btn btn-default btn-depth vscmm-btn-quake" data-depth="0-5" 
                                    onclick="monQuakeUI.toggleDepth('0-5')">
                                <b>&lt; 5</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-depth vscmm-btn-quake" data-depth="5-10" 
                                    onclick="monQuakeUI.toggleDepth('5-10')">
                                <b>5 - 10</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-depth vscmm-btn-quake" data-depth="10-15" 
                                    onclick="monQuakeUI.toggleDepth('10-15')">
                                <b>10 - 15</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-depth vscmm-btn-quake" data-depth="15-20" 
                                    onclick="monQuakeUI.toggleDepth('15-20')">
                                <b>15 - 20</b> <span class="badge"></span>
                            </button>
                            <button class="btn btn-default btn-depth vscmm-btn-quake" data-depth="20+" 
                                    onclick="monQuakeUI.toggleDepth('20+')">
                                <b>20+</b> <span class="badge"></span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vscmmPlotHeading"
                     onclick="monUtils.bsAcdnHeaderClicked(this);" data-parent="#vscmmAccordion" 
                     data-collapse-id="#vscmmPlotCollapse">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vscmmAccordion" 
                           href="#vscmmPlotCollapse" aria-expanded="false" aria-controls="vscmmPlotCollapse">
                            Earthquake Plots
                        </a>
                        <span class="glyphicon glyphicon-chevron-down vscmm-right"></span>
                    </h4>
                </div>
                <div id="vscmmPlotCollapse" class="panel-collapse collapse" role="tabpanel" 
                     aria-labelledby="vscmmPlotHeading">
                    <div class="panel-body">
                        <button class="btn btn-default btn-primary vscmm-btn-plot plot-inactive" 
                                onclick="monPlotMap.enableCapture();">Select Plot Area</button>
                        <button class="btn btn-default btn-primary vscmm-btn-plot plot-active" 
                                onclick="monPlotMap.reset();">Hide</button><br/>
                        <span class="plot-active">
                            <br/>
                            To generate a cross-sectional plot, enter desired cross section width, then define the 
                            cross-sectional area by clicking the map twice to define the two endpoints. Then click the
                            view plot button. Wait until map has completely loaded/refreshed before clicking. And click 
                            slowly.
                            <br/>
                            <br/><b>Cross Section Width:</b><br/>
                            <input type="text" id="vscmmPlotWidth" onchange="monPlotMap.redraw()" class="center" 
                                   value="10" size="3" maxlength="3" /> km
                            <button type="button" class="btn btn-default btn-primary btn-xs" 
                                    onclick="monPlotMap.incrementWidth(1);">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-primary btn-xs" 
                                    onclick="monPlotMap.incrementWidth(-1);">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <br/><br/>
                            <button type="button" class="btn btn-default btn-primary plot-ready" data-toggle="modal" 
                                    data-target="#vscmmPlotModal">View Plot</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vscmmInstHeading"
                     onclick="monUtils.bsAcdnHeaderClicked(this);" data-parent="#vscmmAccordion" 
                     data-collapse-id="#vscmmInstCollapse">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vscmmAccordion" 
                           href="#vscmmInstCollapse" aria-expanded="false" aria-controls="vscmmInstCollapse">
                            Filter Instruments
                        </a>
                        <span class="glyphicon glyphicon-chevron-down vscmm-right"></span>
                    </h4>
                </div>
                <div id="vscmmInstCollapse" class="panel-collapse collapse" role="tabpanel" 
                     aria-labelledby="vscmmInstHeading">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-default btn-primary vscmm-btn-inst-sh vscmm-btn-inst-sh-show"
                                        onclick="monInstrumentUI.showHideAll(true)">Show All</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-default btn-primary vscmm-btn-inst-sh vscmm-btn-inst-sh-hide" 
                                        onclick="monInstrumentUI.showHideAll(false)">Hide All</button>
                            </div>
                        </div>
                        <div id="vscmmCategoryControls"></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="vscmmSettingsHeading"
                     onclick="monUtils.bsAcdnHeaderClicked(this);" data-parent="#vscmmAccordion" 
                     data-collapse-id="#vscmmSettingsCollapse">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vscmmAccordion" 
                           href="#vscmmSettingsCollapse" aria-expanded="false" aria-controls="vscmmSettingsCollapse">
                            Settings
                        </a>
                        <span class="glyphicon glyphicon-chevron-down vscmm-right"></span>
                    </h4>
                </div>
                <div id="vscmmSettingsCollapse" class="panel-collapse collapse" role="tabpanel" 
                     aria-labelledby="vscmmSettingsHeading">
                    <div class="panel-body">

                        <b>Color Earthquakes</b> <i>Display earthquake colors according to their depth or age.</i><br/>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings" 
                                data-color-setting="depth" onclick="monUI.toggleQuakeColor()">depth</button>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings" 
                                data-color-setting="time" onclick="monUI.toggleQuakeColor()">time</button>
                        
                        <br/><br/>
                        
                        <b>Depth Units</b> <i>Display earthquake depths in kilometers or miles.</i><br/>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings" 
                                data-depth-setting="km" onclick="monUI.toggleDepthUnits()">km</button>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings" 
                                data-depth-setting="mi" onclick="monUI.toggleDepthUnits()">mi</button>

                        <br/><br/>
                        
                        <b>Time Units</b> 
                        <i>Display earthquake times in UTC or my local time.</i><br/>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings" 
                                data-time-setting="utc" onclick="monUI.toggleTimeUnits()">UTC</button>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings" 
                                data-time-setting="local" onclick="monUI.toggleTimeUnits()">local</button>

                        <br/><br/>
                        
                        <b>Show Legend</b> <i>Display legend over map.</i><br/>                        
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings" 
                                data-legend-setting="off" onclick="monUI.toggleLegend('off')">Off</button>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings" 
                                data-legend-setting="on" onclick="monUI.toggleLegend('on')">On</button>
                        <br/><br/>
                        
                        <b>Automatic Data Refresh</b> <i>Automatically refresh data every few minutes.</i><br/>  
                        <span id="refreshDisplay"></span>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings" 
                                data-automatic-setting="off" onclick="monUI.toggleAutoData('off')">Off</button>
                        <button class="vscmm-right btn btn-sm btn-default btn-primary vscmm-btn-settings" 
                                data-automatic-setting="on" onclick="monUI.toggleAutoData('on')">On</button>
                        
                        <br/><br/>
                        
                        <b>Reset</b> <i>Clear all choices and return to default settings.</i><br/>
                        <button class="btn btn-sm btn-primary vscmm-btn-settings vscmm-right" 
                                onclick="persistentOptions.reset()">Reset</button>

                    </div>
                </div>
            </div>
        </div>            
    </div>
</div>

<div id="vscmmMobileContainer" class="container">
    <div class="container-main">
        <div id="vscmmMapContainerMobile" class="container-main" 
             data-dojo-type="dijit/layout/BorderContainer" 
             data-dojo-props="design:'headline', gutters:false">

            <div id="vscmmMapMobile" 
                 data-dojo-type="dijit/layout/ContentPane" 
                 data-dojo-props="region:'center'" 
                 style="padding:0;">

                <div style="position:absolute; right:20px; top:10px; z-index:2;">
                    <div data-dojo-type="dijit/TitlePane" 
                         data-dojo-props="title:'Switch Basemap', closable:false, open:false">
                        <div data-dojo-type="dijit/layout/ContentPane" 
                             style="width:380px; height:280px; overflow:auto;">
                            <div id="vscmmBasemapGalleryMobile"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="vscmmQuakeListMobileContainer">
            <div class="row">
                <div class="col col-xs-6">
                    <h4 class="vscmm-pad-left-1em">
                        Date/Time 
                        <a href="javascript:monUI.toggleTimeUnits();" 
                           title="Click to change between UTC or my local time" class="vscmm-time-units"></a>
                        <button class="btn btn-primary btn-xs" title="Order by date" 
                                onclick="monQuakeList.sortClicked('unixTime')">
                            <span class="glyphicon glyphicon-sort"></span></button>
                    </h4>
                </div>
                <div class="col col-xs-3">
                    <h4>
                        Mag.
                        <button class="btn btn-primary btn-xs" title="Order by magnitude" 
                                onclick="monQuakeList.sortClicked('mag')">
                            <span class="glyphicon glyphicon-sort"></span></button>
                    </h4>
                </div>
                <div class="col col-xs-3">
                    <h4>
                        Depth <a href="javascript:monUI.toggleDepthUnits();" 
                                 title="Click to change between KM and Miles" class="vscmm-depth-units"></a>
                        <button class="btn btn-primary btn-xs" title="Order by depth" 
                                onclick="monQuakeList.sortClicked('depthKM')">
                            <span class="glyphicon glyphicon-sort"></span></button>
                    </h4>
                </div>
            </div>
            <div id="vscmmQuakeListMobile"></div>
        </div>
    </div>
    <div class="container-controls">

        <button class="btn btn-primary vscmm-mobile-btn" onclick="monMap.toClientLocation()" 
                title="Center on my location"><span class="glyphicon glyphicon-screenshot"></span></button>

        <button class="btn btn-default vscmm-btn-quake-show vscmm-mobile-btn" title="Show all earthquakes" 
                style="display:none;" onclick="monQuakeUI.showAll();"><span class="glyphicon glyphicon-transfer"></span>
        </button>

        <button class="btn btn-primary vscmm-btn-quake-hide vscmm-mobile-btn" title="Hide all earthquakes"
                onclick="monQuakeUI.hideAll()">
            <span class="glyphicon glyphicon-transfer"></span>
        </button>

        <button class="btn btn-primary vscmm-mobile-btn quake-list-visible" title="View map"
                onclick="monQuakeList.showHideMobile()">
            <span class="glyphicon glyphicon-globe"></span>
        </button>

        <button class="btn btn-primary vscmm-mobile-btn quake-list-hidden" title="View earthquake list"
                onclick="monQuakeList.showHideMobile()">
            <span class="glyphicon glyphicon-list"></span>
        </button>

        <button class="btn btn-default vscmm-mobile-btn vscmm-btn-inst-sh-show" title="Show all instruments"
                onclick="monInstrumentUI.showHideAll(true)">
            <span class="glyphicon glyphicon-stats"></span>
        </button>

        <button class="btn btn-primary vscmm-mobile-btn vscmm-btn-inst-sh-hide" title="Hide all instruments" 
                style="display:none;" onclick="monInstrumentUI.showHideAll(false)">
            <span class="glyphicon glyphicon-stats"></span>
        </button>

        <button class="btn btn-primary vscmm-mobile-btn btn-help" title="Help"
                onclick="monMain.showHelpModal()">
            <span class="glyphicon glyphicon-question-sign"></span>
        </button>

        <button class="btn btn-primary vscmm-mobile-btn" title="Settings"
                onclick="monMain.showSettingsModal()">
            <span class="glyphicon glyphicon-cog"></span>
        </button>  

    </div>
    <br />
</div>

<!-- Plot Modal -->
<div id="vscmmPlotModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Earthquake Plots</h4>
            </div>
            <div class="modal-body">
                <!--<p>Cross-Section | Time-Depth Plot | Cumulative Magnitude | Cumulative Number</p>-->
                                
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#time-depth" aria-controls="time-depth" role="tab" data-toggle="tab">Time/Depth</a>
                    </li>
                    <!--
                    <li role="presentation">
                        <a href="#cross-section" aria-controls="cross-section" role="tab" data-toggle="tab">
                            Cross-Section</a>
                    </li>
                    <li role="presentation">
                        <a href="#cumulative-magnitude" aria-controls="cumulative-magnitude" role="tab" 
                           data-toggle="tab">Cum. Mag.</a>
                    </li>
                    <li role="presentation">
                        <a href="#cum-total" aria-controls="cum-total" role="tab" data-toggle="tab">
                            Cum. Total</a>
                    </li>
                    <li role="presentation">
                        <a href="#strain-release" aria-controls="strain-release" role="tab" data-toggle="tab">
                            Strain Release</a>
                    </li>
                    -->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <br/>
                    <div role="tabpanel" class="tab-pane fade in active" id="time-depth">
                        <canvas id="timeDepthPlotCanvas" width="568" height="400"></canvas>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="cross-section">
                        <canvas id="crossSectionPlotCanvas" width="568" height="400"></canvas>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="cumulative-magnitude">
                        <canvas id="cumMagPlotCanvas" width="568" height="400"></canvas>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="cum-total">
                        <canvas id="cumTotalPlotCanvas" width="568" height="400"></canvas>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="strain-release">
                        Future plot: Strain Release Over Time
                    </div>
                </div>
                
            </div>
            <div class="dialog-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Settings Modal -->
<div id="vscmmSettingsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Settings</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-4"><h4>Color Earthquakes</h4></div>
                    <div class="col-xs-4">
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-color-setting="depth"
                                onclick="monUI.toggleQuakeColor()">depth</button>
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-color-setting="time"
                                onclick="monUI.toggleQuakeColor()">time</button>
                    </div>
                    <div class="col-xs-4">Display earthquake colors according to their depth or age.</div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-xs-4"><h4>Depth Units</h4></div>
                    <div class="col-xs-4">
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-depth-setting="km"
                                onclick="monUI.toggleDepthUnits()">km</button>
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-depth-setting="mi"
                                onclick="monUI.toggleDepthUnits()">mi</button>
                    </div>
                    <div class="col-xs-4">Display earthquake depths in kilometers or miles.</div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-xs-4"><h4>Time Units</h4></div>
                    <div class="col-xs-4">
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-time-setting="utc"
                                onclick="monUI.toggleTimeUnits()">UTC</button>
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-time-setting="local"
                                onclick="monUI.toggleTimeUnits()">local</button>
                    </div>
                    <div class="col-xs-4">
                        Display earthquake times in UTC or my local time.
                    </div>
                </div>
                
                <br/>

                <div class="row">
                    <div class="col-xs-4"><h4>Show Legend</h4></div>
                    <div class="col-xs-4">
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-legend-setting="on"
                                onclick="monUI.toggleLegend('on')">On</button>
                        <button class="btn btn-default btn-primary vscmm-btn-settings" data-legend-setting="off"
                                onclick="monUI.toggleLegend('off')">Off</button>
                    </div>
                    <div class="col-xs-4">
                        Display legend over map.
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <button class="btn btn-primary vscmm-btn-settings"
                                onclick="persistentOptions.reset()">Reset</button>
                    </div>
                    <div class="col-xs-4">
                        Clear all choices and return to default settings.
                    </div>
                </div>

            </div>
            <div class="dialog-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Mobile Help Modal -->
<div id="vscmmHelpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body">
                
                <h4>Click buttons at right to perform these actions.</h4>
                
                <div class="row">
                    <div class="col-sm-1">
                         <button class="btn btn-primary vscmm-mobile-btn" title="Center on my location">
                             <span class="glyphicon glyphicon-screenshot"></span></button>
                    </div>
                    <div class="col-sm-11">
                        Center map on my current location.
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn btn-primary vscmm-mobile-btn" title="Show/hide earthquakes">
                            <span class="glyphicon glyphicon-transfer"></span></button>
                    </div>
                    <div class="col-sm-11">
                        Show or hide earthquakes on map. <i>Changes color depending on selection.</i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <button class="btn btn-primary vscmm-mobile-btn" title="View list of earthquakes" >
                            <span class="glyphicon glyphicon-globe"></span>
                        </button>
                    </div>
                    <div class="col-sm-11">
                        View map. <i>Hidden when map is visible.</i>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="col-sm-1">                        
                        <button class="btn btn-primary vscmm-mobile-btn" title="View map.">
                            <span class="glyphicon glyphicon-list"></span>
                        </button>
                    </div>
                    <div class="col-sm-11">
                        View list of earthquakes. <i>Hidden when earthquake list is visible.</i>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="col-sm-1">                        
                        <button class="btn btn-primary vscmm-mobile-btn" title="Show/hide instruments.">
                            <span class="glyphicon glyphicon-stats"></span>
                        </button>
                    </div>
                    <div class="col-sm-11">
                        Show or hide monitoring instruments on map. <i>Changes color depending on selection.</i>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="col-sm-1">                        
                        <button class="btn btn-primary vscmm-mobile-btn" title="Help">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                    </div>
                    <div class="col-sm-11">
                        Display this help menu.
                    </div>
                </div>
                        
                <div class="row">
                    <div class="col-sm-1">                        
                        <button class="btn btn-primary vscmm-mobile-btn" title="Settings">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>  
                    </div>
                    <div class="col-sm-11">
                        Display settings options. <i>Provides options to:</i><br/><br/>
                        <ul>
                            <li>Color earthquakes by time or depth.</li>
                            <li>View depth units in km or mi.</li>
                            <li>View times as UTC or my local time.</li>
                            <li>Turn legend on or off.</li>
                            <li>Reset options to default values.</li>
                        </ul>
                    </div>
                </div>
                
                <br/><br/>
                
                <div class="row">
                    <div class="col-sm-3">                        
                        <button type="button">Show Legend</button>
                    </div>
                    <div class="col-sm-9">
                        <b>Visible at bottom of map.</b>
                        Click to display legend over map. <i>Only visible when legend is hidden.</i>
                    </div>
                </div>
                
            </div>
            <div class="dialog-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Empty Modal -->
<div id="vscmmEmptyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="dialog-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="vscmmEmptyModalTitle" class="modal-title"></h4>
            </div>
            <div id="vscmmEmptyModalBody" class="modal-body"></div>
            <div class="dialog-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Loading Box -->
<div id="vscmmLoading" class="dialog-box">
    <div class="dialog-header">
        <img class="vscmm-left" 
             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hp
                        DcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwr
                        oUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZI
                        GBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7
                        xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumC
                        YUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwm
                        dsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGcc
                        c4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2n
                        FwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceC
                        AjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />        
        <b class="vscmm-left">&nbsp;&nbsp;Loading Data</b>
        <br/>
    </div>
    <div class="vscmm-tight">
        <br/>
        <div class="loading-message">Loading data.....</div>
    </div>
    <br/>
</div>

<!-- Legend Box -->
<div id="vscmmLegend" class="dialog-box">
    <div class="dialog-header vscmm-tight">
        <b>Legend</b>
        <button type="button" class="close" aria-label="Close" onclick="monUI.toggleLegend('off')">
            <span aria-hidden="true">&times;</span></button>
    </div>
    <div class="vscmm-tight">
        <div id="vscmmLegendColors" class="vscmm-left"></div>
        <div id="vscmmLegendMagnitudes" class="vscmm-left"></div>
        <div id="vscmmLegendInstruments" class="vscmm-left"></div>
        <div id="vscmmLegendVolcanoes" class="vscmm-left"></div>
    </div>
    <br/>
</div>

<button type="button" id="vscmmLegendShowButton" class="open" aria-label="Show" onclick="monUI.toggleLegend('on')">
    Show Legend</button>
